In [3]:
import json
import random

#NLTK packages
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk import ngrams
from sklearn.feature_extraction.stop_words import ENGLISH_STOP_WORDS
from collections import Counter
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
with open("reviewSelected100.json", 'r') as read_file:
    data = [json.loads(line) for line in read_file]

In [5]:
#---------------- Check Business Data ----------------------
'''
Total number of reviews = 15300
Total number of business types = 153
Each business has 100 reviews
'''
biz_type = []
all_biz = []
for i in range(len(data)):
    b = data[i]['business_id']
    biz_type.append(b)
for n
biz_dict = {i:biz_type.count(i) for i in biz_type}
#-----------------------------------------------------------

In [6]:
#1. Randomly select a business b1 from the dataset
b1 = random.choice(list(biz_dict.keys())) #everytime the code runs a new business_id is chosen

#2. Extract all reviews for b1 and create a small dataset B1
B1 = {"small_dataset": []}
count = 0
for i in range(len(data)):
    if data[i]['business_id'] == b1:
        count +=1 #must be 100 on every run
        B1['small_dataset'].append(data[i])

In [7]:
#Stopwords 
yelp_stop_words = set(stopwords.words('english')+ list(ENGLISH_STOP_WORDS))

### b1

In [27]:
#Word frequency before stemming
from nltk import FreqDist
all_reviews = ''
for i in range(len(B1['small_dataset'])):
    all_reviews += B1['small_dataset'][i]['text']
    
lowercase_review = all_reviews.lower()
word_tokens = word_tokenize(lowercase_review)

tokens = list()
for word in word_tokens:
    if word.isalpha() and word not in yelp_stop_words:
        tokens.append(word)
        
token_dist = FreqDist(tokens)
dist = pd.DataFrame(token_dist.most_common(10),columns=['Word', 'Frequency'])

dist

        Word  Frequency
0       food         74
1       pita         70
2      place         63
3      fresh         54
4       good         41
5       best         40
6   pitaland         38
7     hummus         35
8  delicious         35
9      great         33

In [28]:
#Word frequency after stemming
from nltk.stem import PorterStemmer
porter = PorterStemmer()
stem_word =[porter.stem(word) for word in tokens]
stem_word_dist = FreqDist(stem_word)
stem_dist = pd.DataFrame(stem_word_dist.most_common(10),columns=['Word', 'Frequency'])

stem_dist

       Word  Frequency
0      pita         96
1      food         83
2     place         66
3     fresh         55
4      gyro         47
5      good         43
6      best         40
7  pitaland         38
8     hummu         35
9    delici         35

### b2

In [23]:
b2 = random.choice(list(biz_dict.keys()))
B2 = {"small_dataset": []}
count = 0
for i in range(len(data)):
    if data[i]['business_id'] == b2:
        count +=1 #must be 100 on every run
        B2['small_dataset'].append(data[i])

#Stopwords 
yelp_stop_words = set(stopwords.words('english')+ list(ENGLISH_STOP_WORDS))

In [29]:
#Before stemming 
all_reviews_2 = ''
for i in range(len(B2['small_dataset'])):
    all_reviews_2 += B2['small_dataset'][i]['text']
    
lowercase_review_2 = all_reviews_2.lower()
word_tokens = word_tokenize(lowercase_review_2)

tokens_2 = list()
for word in word_tokens:
    if word.isalpha() and word not in yelp_stop_words:
        tokens_2.append(word)
        
token_dist_2 = FreqDist(tokens_2)
dist_2 = pd.DataFrame(token_dist_2.most_common(10),columns=['Word', 'Frequency'])

dist_2

        Word  Frequency
0       beef        134
1       bowl        109
2  yoshinoya         81
3       food         72
4       like         54
5      place         51
6    chicken         50
7       good         42
8       rice         36
9       love         29

In [31]:
#After stemming 
porter_2 = PorterStemmer()
stem_word_2 =[porter_2.stem(word) for word in tokens_2]
stem_word_dist_2 = FreqDist(stem_word_2)
stem_dist_2 = pd.DataFrame(stem_word_dist_2.most_common(10),columns=['Word', 'Frequency'])

stem_dist_2

        Word  Frequency
0       beef        137
1       bowl        125
2  yoshinoya         84
3       food         73
4       like         61
5      place         58
6    chicken         50
7        eat         45
8       good         43
9      order         40